@import "../assets/variables.scss";

.chat-renderer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: scroll;
  padding: 0 1rem 1rem;

  &__prompt {
    margin-top: 1rem;
    text-align: center;
    color: #264653;
    margin-bottom: 0.5rem;
  }
}

@include media("<=phone") {
  .chat-renderer {
    width: 100%;
  }
}

@include media(">phone", "<=tablet") {
  .chat-renderer {
    width: 75%;
  }
}

@include media(">tablet") {
  .chat-renderer {
    width: 50%;
    max-width: 700px;
  }
}
