@import "../../assets/variables.scss";

.speech {
  width: calc(100% - 3rem);
  display: flex;
}

.bubble {
  padding: 1rem;
  border-radius: 0.5rem;
}

.image-bubble {
  width: auto;
  img {
    max-width: 200px;

    @include media("<=phone") {
      max-width: 100%;
    }
  }
}

.storyteller-speech {
  margin-top: 1rem;
  padding-right: 3rem;
  justify-content: flex-start;
  align-items: flex-end;
}

.storyteller-speech-bubble {
  background-color: #ece4db;
  margin-top: 0.5rem;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.user-speech {
  margin-top: 1rem;
  padding-left: 3rem;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-end;
}

.user-speech-bubble {
  background-color: #fec5bb;
  margin-top: 0.5rem;
}

.user-option {
  font-size: inherit;
  font-family: inherit;
  border: none;
  cursor: pointer;
  text-align: left;

  &:active {
    background-color: #f0ab9f;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
