@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import "assets/variables.scss";

body {
  margin: 0;
  font-family: "Merriweather", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  @include media("<=phone") {
    font-size: 13px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
